#bg{
    position: relative;
    border: dashed 3px;
    height: fit-content;
    padding: 10px;
}

.header{
    padding: 10px;
    border: dashed blue 1px;
}

.dashboard{
    padding: 10px;
    position: absolute;
    left:10px;
    border:solid greenyellow 1px;
}

.content{
    padding: 10px;
    position: absolute;
    right:10px;
    border:solid greenyellow 1px;
}
