#bg{
    border: solid 2px;
    height: fit-content;
}

.header{
    padding: 10px;
	background-color: #33ccff;
}

.dashboard{
    border:solid greenyellow 1px;
}

.content{
    border:solid greenyellow 1px;
}
